{% extends 'base.html.twig' %}
{% block title %}Request a loan{% endblock %}

{% block body %}
    <h1>Request a loan</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-default btn-xs" type="submit" value="Create" />
    {{ form_end(form) }}

    <a class="btn btn-default btn-xs" href="{{ path('loan_index') }}">Back to the list</a>

{% endblock %}
